@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
  
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
header > h1{
    font-variant:small-caps;
    font-size: 5vw;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    padding: 2px;
}
a:hover{
    text-decoration: underline;
}
div{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 40px;
    font-size: 3vw;
}
div.branca{
    background-color: white;
    color: black;
}
div#joaninha{
    background: rgba(52, 51, 51, 0) url('imagens/background001.jpg') center right no-repeat fixed ;
    background-size: cover;
}
div#livro{
    background: rgba(52, 51, 51, 0) url('imagens/background002.jpg') center right no-repeat fixed ;
    background-size: cover;
}
div > p{
    padding: 20px;
    line-height: 2em;
}

div.transparente > p{
    background-color: rgba(0, 0, 0, 0.263);
    color: white;
    display: inline-block;
}


